<%= form_for @unit, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :apartment_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :apartment_id, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :bedrooms, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :bedrooms, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :bathrooms, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :bathrooms, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :sqft, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :sqft, :class => 'number_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :price, :class => 'control-label' %>
    <div class="controls">
      <%= f.number_field :price, :class => 'number_field' %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                units_path, :class => 'btn' %>
  </div>
<% end %>
